* {
    z-index:999;
}
#tbutton {
    height: 50px;
    width: 50px;
    border-color: #6900ff;
    background-color: rgba(45, 27, 97, 0.8) !important;
    border-style: solid;
    border-width:2px;
    border-radius: 5px;
    cursor:move;
    position: relative;
    margin-top:55px;
}
#potatoimg {
    width: 40px; /* you can use % */
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#pcbox {
    width:200px;
    height:200px;
}
