#psbutton {
    height: 50px;
    width: 50px;
    background-color: rgba(45, 27, 97, 0.8) !important;
    border-color: #6900ff;
    border: 2px solid #6900ff;
}
#potatoimg {
    width: 40px; /* you can use % */
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
#phbox {
    height: 50px;
    cursor:move;
}
#pcbox {
    width: 273px;
    height: 152px;
    background: rgba(45, 27, 97, 0.8) !important;
    border-left: 2px solid #6900ff;
    border-right: 2px solid #6900ff;
    border-bottom: 2px solid #6900ff;
    left: -2px;
    top: 52px;
    position: absolute;
}
.pibox {
    width: 90px;
    height: 50px;
    cursor: pointer;
    border-bottom: 1px solid #6900ff;
    border-right: 1px solid #6900ff;
    color: #8f41ff;
    float: left;
    text-align: center;
    line-height: 50px;
}
.pibox:hover {
    background-color: rgba(45, 27, 97, 0.9) !important;
}
#pconfirmbox {
    width: 500px;
    height: 300px;
    background: gray;
}
#pconfirmheader {
    Background: darkgray;
    width: 100%;
    height: 50px;
}
.pcbox {
    height: 50px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
}
.pcbox:hover {
    background: lightblue;
}
